$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

*,
*::after,
*::before {
    box-sizing: border-box
}

body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0
}

address {
    font-style: normal
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $bp-desktop) {
        padding: 0 100px;
    }
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}