.text-brand {
    color: var(--color-primary-blue);
    text-transform: capitalize;
}

.text-brand--lowercase {
    color: var(--color-primary-blue);
    text-transform: lowercase;
}

.title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
}