:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --color-primary-blue: #2B7FFF;
    --color-secondary-dark: #4A4A4A;
    --color-secondary-normal: #011F4A;
    --color-secondary-grey: #747272;
    --color-secondary-yellow: #FFD02B;
    --color-primary-light-transparent: rgba(255, 255, 255, 0.25);
}