.about-section {
    padding-top: 0;
    height: 365px;

    @media screen and (min-width:$bp-desktop) {
        padding-top: 40px;
        height: 695px;
    }

    &__container {
        display: flex;
        gap: 28px;
    }

    &__info {
        max-width: 709px;
        color: var(--color-primary-dark);
    }

    &__title {
        max-width: 530px;
        margin-bottom: 24px;

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 40px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1.16;

        @media screen and (min-width: $bp-desktop) {
            font-size: 22px;
            line-height: 1.7;
        }
    }

    &__info-bg-star {
        position: absolute;
        right: 22px;

        @media screen and (min-width:$bp-desktop) {
            display: none;
        }
    }

    &__photo {
        display: none;

        @media screen and (min-width:$bp-desktop) {
            display: block;
            position: relative;
            width: 100%;
            max-width: 500px;
            height: 655px;
        }
    }

    &__photo-before {
        position: absolute;
        top: -40px;
        border-radius: 180px;
    }

    &__photo-after {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 180px;
    }

    &__blue-star {
        position: absolute;
        top: 44px;
        right: -18px;
    }

    &__dark-star {
        position: absolute;
        top: 320px;
        left: 130px;
    }

    &__grey-star {
        position: absolute;
        top: 272px;
        right: 10px;
    }

}