.advantages-section {

    &__container {
        position: relative;
        width: 100%;
        padding: 0 90px;
    }

    &__background {
        position: absolute;
        max-width: 2022px;
        top: -250px;
        left: -460px;
        z-index: -1;
    }

    &__title {
        text-align: center;
        margin-bottom: 48px;
    }

    &__cards {
        display: flex;
        gap: 56px;
    }

    &__card {
        background-color: var(--color-primary-light);
        border-radius: 32px;
        padding: 34px 32px 24px 32px;
        line-height: 1.33;
        box-shadow: 0 4px 4px var(--color-dark-transparent);
    }

    &__card-icon {
        display: block;
        margin: 0 auto;
        fill: var(--color-primary-blue);
        margin-bottom: 8px;
    }
}