.contacts-section {
    margin-top: 96px;

    &__container {
        padding-left: 64px;
    }

    &__title {
        text-align: center;
    }

    &__block {
        display: flex;
        gap: 32px;

    }

    &__map {
        width: 604px;
        height: 480px;
        border-radius: 32px;
    }

    &__form-block {
        background-color: var(--color-primary-dark);
        background-image: url(/images/contacts-form-bg.png);
        border-radius: 32px;
        padding: 48px 56px;
        max-height: 480px;
    }

    &__form-field {
        margin-bottom: 16px;
    }

    &__button-send {
        margin: 0 auto;
    }

}