.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background-color: transparent;

    @media screen and (min-width: $bp-desktop) {
        padding: 32px 0;
        background-color: var(--color-primary-light-transparent);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            width: 526px;
            justify-content: space-between;
        }
    }

    &__socials {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 35px;
        }
    }


    &__burger {
        width: 24px;
        height: 24px;
        border: none;
        padding: 0;
        background-color: transparent;
        fill: var(--color-primary-light);

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background-color: var(--color-primary-light);
    opacity: 25%;
    filter: blur(10px);
}

.about-link {
    width: 75px;
}

.advantages-link {
    width: 80px;
}

.procedures-link {
    width: 150px;
}

.contacts-link {
    width: 85px;
}